networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
    environment:
      AI_URL: http://predict_service:7000
      ML_URL: http://ml_service:9000
    depends_on:
      - predict_service
      - ml_service
    networks:
      - dev
    dns:
      - 8.8.8.8
      - 1.1.1.1
    mem_limit: 2024m
    mem_reservation: 256m
    restart: always

  ml_service:
    build:
      context: ./ML
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_ENDPOINT: https://storage.yandexcloud.net
      S3_BUCKET: risk-model-datasets
    networks:
      - dev
    ports:
      - "9000:9000"
    restart: unless-stopped

  predict_service:
    build:
      context: ./AI
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_ENDPOINT: https://storage.yandexcloud.net
      S3_BUCKET: risk-model-datasets
    networks:
      - dev
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    networks:
      - dev
  php_env:
    build:
      context: ./auth
    volumes:
      - ./auth/App:/var/www/html
    ports:
      - "4000:80"
    networks:
      - dev

  mysql_db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    networks:
      - dev

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - 4001:80
    environment:
      - PMA_ARBITRARY=1
    networks:
      - dev